<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            {{ fields.size.value }}
            <mip v-for="(data, id) in fields" :data="data" :id="id" v-model="data.value"></mip>

                TEST

<label for="cars">Choose a car:</label>

<select name="cars" id="cars"><option value="volvo">Volvo</option></select>
        </div>
    </body>
</html>

<script type="text/javascript">

   Vue.component('mip', {
        data: function () {
                  return {
                      console: console,
                  }
        },
        //
        props: ['data', 'value', 'id'],
        template: '<div>' +
                  '<label :for="id" v-if="data.label != \'\'">{{data.label || (id.split(/[ _]/).map(function(x){return x[0].toUpperCase() + x.substring(1)}).join(\' \'))}}</label>' +
                  '<input v-if="data.type == \'text\'" :type="data.type || \'text\'" :name="id" :id="id" :placeholder="data.placeholder" v-bind:value="value" v-on:input="$emit(\'input\', $event.target.value)" :disabled="data.disabled == \'true\'" :readonly="data.readonly == \'true\'">' +
                  '<input v-if="data.type == \'email\'" :type="data.type || \'text\'" :name="id" :id="id" :placeholder="data.placeholder" v-bind:value="value" v-on:input="$emit(\'input\', $event.target.value)" :disabled="data.disabled == \'true\'" :readonly="data.readonly == \'true\'">' +
                  '<textarea v-if="data.type == \'textarea\'" :name="id" :id="id" :placeholder="data.placeholder" v-bind:value="value" v-on:input="$emit(\'input\', $event.target.value)" :disabled="data.disabled == \'true\'" :readonly="data.readonly == \'true\'"></textarea>' +
                  '<div v-if="data.type == \'radio\'"><div v-for="option in data.options"><input type="radio" :id="option" :name="id" v-bind:value="option" v-on:input="console.log($event.target.value);$emit(\'input\', $event.target.value)" :checked="value == option"> <label for="option">{{option}}</label></div></div>' +
                  '<div v-if="data.type == \'select\'"><select :name="id" :id="id"><option v-for="option in data.options" v-bind:value="option" v-on:input="console.log($event.target.value);$emit(\'input\', $event.target.value)" :selected="value == option">{{option}}</option></select></div>' +
                  '</div>'
    });

    var app = new Vue({
        el: '#app',
        data: {
            message: 'test',
            fields: {
                email: { type: 'email', value: 'darren@cauthon.com' },
                first_name: { type: 'text', value: 'Darren' },
                description: { type: 'textarea', value: 'more data' },
                size: { type: 'select', value: 'medium', options: ['small', 'medium', 'large']}
            }
        }
    });
</script>