<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            {{ message }}
            <form>
                <text-field v-for="t in thing" :data="t" v-model="t.value"></thing>
            </form>
        </div>
    </body>
</html>

<script type="text/javascript">

   Vue.component('text-field', {
        data: function () {
                  return {
                      console: console,
                  }
        },
        props: ['data', 'value'],
        template: '<div>' +
                  '<label :for="data.id">{{data.label}}</label>' +
                  '<input v-if="data.type != \'textarea\'" :type="data.type || \'text\'" :name="data.id" :id="data.id" :placeholder="data.placeholder" v-bind:value="value" v-on:input="$emit(\'input\', $event.target.value)" :disabled="data.disabled == \'true\'" :readonly="data.readonly == \'true\'">' +
                  '<textarea v-if="data.type == \'textarea\'" :name="data.id" :id="data.id" :placeholder="data.placeholder" v-bind:value="value" v-on:input="$emit(\'input\', $event.target.value)" :disabled="data.disabled == \'true\'" :readonly="data.readonly == \'true\'"></textarea>' +
                  '</div>'
    });

    var app = new Vue({
        el: '#app',
        data: {
            message: 'test',
            thing: [
                { type: 'email', id: 'email', label: 'Email', value: 'darren@cauthon.com' },
                { type: 'text', id: 'first_name', label: 'First Name', value: 'Darren' }
            ]
        }
    });
</script>